// Fonts
// -------------------------

@font-face {
  font-family: 'BryantRegular';
  src: url('../fonts/BryantWebRegular/BryantWebRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BryantWebRegular/BryantWebRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BryantWebRegular/BryantWebRegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/BryantWebRegular/BryantWebRegular.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'BryantWebRegularItalic';
  src: url('../fonts/BryantWebRegularItalic/BryantWebRegularItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BryantWebRegularItalic/BryantWebRegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BryantWebRegularItalic/BryantWebRegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/BryantWebRegularItalic/BryantWebRegularItalic.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'BryantWebMedium';
  src: url('../fonts/BryantWebMedium/BryantWebMedium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BryantWebMedium/BryantWebMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BryantWebMedium/BryantWebMedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/BryantWebMedium/BryantWebMedium.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'BryantWebMediumItalic';
  src: url('../fonts/BryantWebMediumItalic/BryantWebMediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BryantWebMediumItalic/BryantWebMediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BryantWebMediumItalic/BryantWebMediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/BryantWebMediumItalic/BryantWebMediumItalic.woff') format('woff') /* Pretty Modern Browsers */
}